@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&family=Rubik:ital,wght@0,500;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: steelblue;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    background: rgba(0,0,0,.4);
    padding:20px 40px;
    border-radius: 5px;
}
.container h1{
    text-align: center;
    margin-bottom: 30px;
}
.container a{
    text-decoration: none;
    color: lightblue;
}
.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding:15px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
.btn:focus{
    outline:none;
}
.btn:active{
    transform: scale(.9);
}
.text{
    margin-top: 10px;
}
.form-control{
    position: relative;
    margin: 20px 0 40px;
    width:300px;
}
.form-control input{
    background: transparent;
    border: none;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color:white;
}
.form-control input:focus,
.form-control input:valid{
    outline: none;
    border-bottom: lightblue;
}
.form-control label{
    position: absolute;
    top:15px;
    left:0;
    pointer-events:none;
}
.form-control label span{
    display: inline-block;
    font-size: 15px;
    min-width:5px;
    transition: .3s cubic-bezier(0.10, -0.70, 0.1, 2);
/* cubic-bezier(0.68, -0.55, 0.265, 1.55) timing function would produce an animation effect that starts slower, accelerates quickly, 
and then slows down again towards the end of the transition. The control points determine the shape of the curve and 
influence the rate of change during the transition.*/
}
.form-control input:focus + label span,
.form-control input:valid + label span{
    color:lightblue;
    transform: translateY(-20px);
}