@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
   text-align: center;
    overflow: hidden;
}
h3{
    margin-bottom: 0;
    text-align: center;
}
small{
    display: block;
}
.fa-heart{
    color: red;
}
.loveMe{
    height: 440px;
    width: 300px;
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-position: cover;
    background-size: center center;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}
.loveMe .fa-heart{
    position: absolute;
    animation: grow .6s linear;
    transform: translate(-50%,-50%) scale(0);
}

@keyframes grow{
    to{
    transform: translate(-50%,-50%) scale(10);
    opacity: 0;
    }
}